body {
    background-image: url("images/field.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    display: flex; /* Enable Flexbox on body */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Full width for proper centering */
    height: 100%; /* Full height to center vertically */
    margin: 0; /* Remove unnecessary margins */
}

.card {
    background-image: url("images/card.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%; /* Use percentage for better responsiveness */
    height: 80%; /* Use percentage for better responsiveness */
    aspect-ratio: 4 / 3; /* Maintain aspect ratio */
    position: relative;
}

@media (min-width: 470px) {
    .card-container {
        width: 100vw; /* Full width for proper centering */
        height: 100vh; /* Full height to center vertically */
    }
    .card {
        width: 70%; /* Use percentage for better responsiveness */
        height: 70%; /* Use percentage for better responsiveness */
        aspect-ratio: 4 / 3; /* Maintain aspect ratio */
        background-size: contain; /* Ensure the entire image is visible */
        background-position: center; /* Center the image within the container */
    }
}

.card-body {
    color: white;
    text-shadow: 3px 3px 2px black;
    position: relative;
    font-weight: bold;
    font-size: 1.5rem;
}


.leo-img {
    position: absolute;
    top: 175px;
    left: 40px;
    width: 300px;
    height: 300px;
}

#number {
    position: absolute;
    top: 90px;
    left: 300px;
    font-weight: bold;
}

#rating {
    position: absolute;
    top: 70px;
    left: 20px;
    font-weight: bold;
    font-size: 5rem;
}

#name {
    position: absolute;
    top: 440px;
    left: 60px;
}

#position {
    position: absolute;
    top: 510px;
    left: 20px;
}


#age {
    position: absolute;
    top: 540px;
    left: 20px;
}

#club {
    position: absolute;
    top: 580px;
    left: 20px;
}

#pass {
    position: absolute;
    top: 510px;
    left: 270px;   
}

#shot {
    position: absolute;
    top: 540px;
    left: 270px;    
}

#speed {
    position: absolute;
    top: 580px; 
    left: 270px;
}